{% extends 'base_bootstrap.html' %}

{% block page_title %}Добавить проект{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <form action="/projects/add_project" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Имя проекта</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Введите ваше имя">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Описание проекта</label>
          <textarea class="form-control" id="description" name="description" rows="3" placeholder="Введите описание"></textarea>
        </div>
        <div class="mb-3">
          <label for="members" class="form-label">Участники проекта</label>
          <select class="selectpicker" id="members" name="members" multiple>
            {% for user in users %}
              <option>{{ user.name }}</option>
            {% endfor %}
          </select>

        </div>
        <div class="mb-3">
          <label for="link" class="form-label">Ссылка на проект</label>
          <input type="text" class="form-control" id="link" name="link" placeholder="Введите ссылку">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}