{% extends 'base_bootstrap.html' %}

{% block title %}Проекты{% endblock %}
{% block page_title %}Добавить проект{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <form action="/projects/edit_description/{{id}}" method="post">
        <div class="mb-3">
          <label for="edit_description" class="form-label">Изменить описание проекта</label>
          <textarea class="form-control" id="edit_description" name="edit_description" rows="3" placeholder="Введите новое описание">{{ des }}</textarea>
        </div>
        <div class="mb-3">
          <label for="edit_members" class="form-label">Изменить пользователей</label>
          <select class="selectpicker" id="edit_members" name="edit_members" multiple>
            {% for user in users %}
              <option>{{ user.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}