{% extends 'base_bootstrap.html' %}

{% block title %}Создать пользователя{% endblock %}
{% block page_title %}Создать пользователя{% endblock %}

{% block content %}

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

<form method="POST" class="form-horizontal">
    <div class="form-group my-3">
        <label class="control-label">Имя и фамилия</label>
        <input type="text" class="form-control" name="name" value="{{ name }}" required>
    </div>
    <div class="form-group my-3">
        <label class="control-label">Роль</label>
        <select class="form-control" name="role">
            <option value="" disabled {% if not role %}selected{% endif %}>Выберите роль</option>
            <option value="expert" {% if role== 'expert' %}selected{% endif %}>Эксперт</option>
            <option value="student" {% if role== 'student' %}selected{% endif %}>Учащийся</option>
        </select>
    </div>
    <div class="form-group my-3">
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>
{% endblock %}