{% extends 'base_bootstrap.html' %}

{% block title %}Пользователи{% endblock %}
{% block page_title %}Пользователи{% endblock %}

{% block content %}

<a href="/users/add" class="btn btn-primary btn-lg my-2">Добавить</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Роль</th>
        <th scope="col">Активирован?</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>{% if user.telegram_id %}✅{% else %}❌{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}